<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>My Blog</title>
</head>
<body>
    <h1>Welcome to My Blog</h1>
    <ul>
        <% posts.forEach(post => { %>
            <li>
                <h2><%= post.title %></h2>
                <p><%= post.content %></p>
                <form action="/delete/<%= post._id %>?_method=DELETE" method="post" style="display: inline;">
                    <button type="submit" style="background-color: rgb(218, 13, 13);">Delete</button>
                </form>
            </li>
        <% }); %>
    </ul>
    <a href="/newpost">New Post</a>
</body>
</html>
